.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 3rem;
    margin: 0;
}

figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 20vw;
    margin: auto;
}

img {
    max-width: 15vw;
    max-height: 18vh;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
